.label .label-text {
  font-size: var(--size-xs);
  font-weight: 500;
  display: block;
  margin-block-end: var(--size-3xs);
}

.label--has-error {
  color: var(--color-red-600);
}

.input {
  border: none;
  border-radius: var(--size-base);
  box-sizing: border-box;
  display: block;
  padding: 0px var(--size-base);
  height: var(--size-4xl);
  width: 100%;
}

.input:focus {
  outline: none;
  border: 2px solid var(--color-orange-400);
}

.button {
  background-color: var(--color-neutral-800);
  border: none;
  border-radius: var(--size-base);
  color: var(--color-neutral-50);
  display: flex;
  font-weight: 500;
  align-items: center;
  justify-content: center;
  padding: var(--size-3xs) var(--size-base);
}

.button:focus {
  outline: none;
  border: 2px solid var(--color-orange-400);
  color: var(--color-orange-400);
}

.button--neutral {
  background-color: var(--color-neutral-50);
  color: var(--color-neutral-950);
}

.button--outline {
  background-color: transparent;
  border: 2px solid var(--color-neutral-600);
  color: var(--color-neutral-600);
}

.button--outline.button--red {
  border-color: var(--color-red-600);
  color: var(--color-red-600);
}

.button--outline.button--blue {
  border-color: var(--color-blue-600);
  color: var(--color-blue-600);
}
