.rainbow:active,
.rainbow:focus,
.rainbow:hover {
  animation: rotate 1500ms linear infinite,
    rainbow-text 2500ms linear infinite;
  background: linear-gradient(90deg,
      var(--color-red-400),
      var(--color-orange-400),
      var(--color-amber-400),
      var(--color-yellow-400),
      var(--color-lime-400),
      var(--color-green-400),
      var(--color-emerald-400),
      var(--color-teal-400),
      var(--color-cyan-400),
      var(--color-sky-400),
      var(--color-blue-400),
      var(--color-indigo-400),
      var(--color-violet-400),
      var(--color-purple-400),
      var(--color-fuchsia-400),
      var(--color-pink-400),
      var(--color-rose-400));
  background-clip: text;
  border: 2px solid transparent;
  border-image: conic-gradient(from var(--angle),
      var(--color-red-400),
      var(--color-orange-400),
      var(--color-amber-400),
      var(--color-yellow-400),
      var(--color-lime-400),
      var(--color-green-400),
      var(--color-emerald-400),
      var(--color-teal-400),
      var(--color-cyan-400),
      var(--color-sky-400),
      var(--color-blue-400),
      var(--color-indigo-400),
      var(--color-violet-400),
      var(--color-purple-400),
      var(--color-fuchsia-400),
      var(--color-pink-400),
      var(--color-rose-400)) 1;
  color: transparent;
  outline: none;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

input.rainbow,
input.rainbow:active,
input.rainbow:focus,
input.rainbow:hover {
  color: inherit !important;
  -webkit-text-fill-color: inherit !important;
  -webkit-background-clip: inherit !important;
  background: inherit !important;
  background-clip: inherit !important;
}

@property --angle {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}

@keyframes rotate {
  to {
    --angle: 360deg;
  }
}

@keyframes rainbow-text {
  0% {
    color: var(--color-red-400);
    fill: var(--color-red-400);
  }

  6% {
    color: var(--color-orange-400);
    fill: var(--color-orange-400);
  }

  12% {
    color: var(--color-amber-400);
    fill: var(--color-amber-400);
  }

  18% {
    color: var(--color-yellow-400);
    fill: var(--color-yellow-400);
  }

  24% {
    color: var(--color-lime-400);
    fill: var(--color-lime-400);
  }

  30% {
    color: var(--color-green-400);
    fill: var(--color-green-400);
  }

  36% {
    color: var(--color-emerald-400);
    fill: var(--color-emerald-400);
  }

  42% {
    color: var(--color-teal-400);
    fill: var(--color-teal-400);
  }

  48% {
    color: var(--color-cyan-400);
    fill: var(--color-cyan-400);
  }

  54% {
    color: var(--color-sky-400);
    fill: var(--color-sky-400);
  }

  60% {
    color: var(--color-blue-400);
    fill: var(--color-blue-400);
  }

  66% {
    color: var(--color-indigo-400);
    fill: var(--color-indigo-400);
  }

  72% {
    color: var(--color-violet-400);
    fill: var(--color-violet-400);
  }

  78% {
    color: var(--color-purple-400);
    fill: var(--color-purple-400);
  }

  84% {
    color: var(--color-fuchsia-400);
    fill: var(--color-fuchsia-400);
  }

  90% {
    color: var(--color-pink-400);
    fill: var(--color-pink-400);
  }

  96% {
    color: var(--color-rose-400);
    fill: var(--color-rose-400);
  }

  100% {
    color: var(--color-red-400);
    fill: var(--color-red-400);
  }
}
