body,
html {
  background-color: var(--color-neutral-50);
  color: var(--color-neutral-950);
  font-family: var(--font-family-sans);
  font-size: var(--size-base);
  font-weight: var(--font-weight-400);
}

* {
  color: inherit;
  font-family: inherit;
  font-size: inherit;
}

.material-symbols-outlined {
  color: inherit;
  font-size: inherit;
}

.font-weight-700 {
  font-weight: var(--font-weight-700)
}
