@import url("colors.css");
@import url("type.css");

html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  background-color: var(--neutral-50);
  color: var(--neutral-900);
  font-family: var(--font-family);
  font-size: var(--font-size);
  margin: 0;
}
