@import "./color.css";
@import "./type.css";
@import "./trix.css";
@import "./forms.css";
@import "./layouts.css";

body {
  background-color: var(--color-neutral-100);
  display: grid;
  grid-template-columns: 200px 1fr;
  margin: 0;
}

a {
  color: var(--color-neutral-700);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

button,
.button {
  background-color: var(--color-neutral-100);
  border: 2px solid var(--color-neutral-700);
  border-left: none;
  color: var(--color-neutral-700);
  cursor: pointer;
  font-size: var(--text-size-100);
  letter-spacing: 0.75px;
  padding: 0.5rem;
  width: 100%;
}

button:hover,
.button:hover {
  text-decoration: underline;
}

ol,
ul {
  margin: 0;
  padding: 0;
}

li {
  list-style-type: none;
}
