a {
  color: var(--color-neutral-700);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

body {
  background-color: var(--color-neutral-100);
  align-items: start;
  display: grid;
  grid-template-columns: 200px 1fr;
  margin: 0;
}

button,
.button {
  background-color: var(--color-neutral-100);
  border: 2px solid var(--color-neutral-700);
  border-left: none;
  color: var(--color-neutral-700);
  cursor: pointer;
  display: block;
  font-size: var(--text-size-200);
  font-weight: 400;
  line-height: 1.15;
  letter-spacing: -0.022em;
  padding: 0.5rem;
  width: 90%;
}

button:hover,
.button:hover {
  text-decoration: underline;
}

.button + .button {
  margin-block-start: 8px;
}

li {
  list-style-type: none;
}

ol,
ul {
  margin: 0;
  padding: 0;
}
