button,
input,
select,
textarea {
  background-color: transparent;
  border: 2px solid var(--neutral-200);
  border-radius: 0;
  height: calc(var(--vertical-spacing) * 2);
  padding-left: calc(var(--vertical-spacing) / 2);
}

input:focus,
select:focus,
textarea:focus {
  border: 2px solid var(--neutral-200);
  outline: none;
}

button {
  background-color: var(--neutral-200);
  color: var(--neutral-900);
  cursor: pointer;
  font-weight: 700;
  text-transform: uppercase;
}

button:active {
  background-color: var(--neutral-200);
  border: 2px solid var(--neutral-200);
}

input[type="checkbox"] {
  height: var(--vertical-spacing);
  width: var(--vertical-spacing);
}

.input-container {
  display: flex;
  flex-direction: column;
  margin-bottom: var(--vertical-spacing);
}

.input-label {
  font-size: 1.25rem;
  font-weight: 500;
  line-height: 2rem;
}

.input {
  margin-bottom: calc(var(--vertical-spacing) / 2);
}

.input-error {
  color: var(--red-600);
  font-weight: 700;
}
