button,
input,
select,
textarea {
  border-radius: 0;
  color: var(--font-color);
  font-family: var(--font-family);
  font-size: var(--font-size);
  line-height: var(--line-height);
  height: calc(var(--vertical-spacing) * 2);
}

textarea {
  height: calc(var(--vertical-spacing) * 6);
}

input,
select,
textarea {
  background-color: transparent;
  border: 2px solid var(--neutral-300);
  padding: calc(var(--vertical-spacing) / 2);
}

input:focus,
select:focus,
textarea:focus {
  border: 2px solid var(--neutral-300);
  outline: none;
}

button {
  background-color: var(--neutral-500);
  border: 2px solid var(--neutral-500);
  color: var(--white);
  cursor: pointer;
  text-transform: uppercase;
}

input[type="checkbox"] {
  height: var(--vertical-spacing);
  width: var(--vertical-spacing);
}

.input-container {
  display: flex;
  flex-direction: column;
  margin-bottom: calc(var(--vertical-spacing) * 2);
}

.input-label {
  margin: 0;
}

.input-help {
  color: var(--neutral-500);
  margin: 0;
}

.input-help + .input,
.input-label + .input {
  margin-top: calc(var(--vertical-spacing) / 2);
}

.input-error {
  color: var(--red-400);
  font-weight: 500;
}

.input + .input-error {
  margin-top: calc(var(--vertical-spacing) / 2);
}
