.x-navigation {
  background-color: var(--color-neutral-700);
  color: var(--color-neutral-100);
  display: flex;
  min-height: 100vh;
  z-index: 1;
}

.x-navigation-ul {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 16px;
  position: relative;
  width: 100%;
}

.x-navigation-li {
  list-style-type: none;
}

.x-navigation-li:last-child {
  bottom: 16px;
  position: sticky;
  margin-top: auto;
}

.x-navigation-a {
  color: var(--color-neutral-100);
}

.x-navigation button {
  background-color: var(--color-neutral-100);
  border: 1px solid var(--color-neutral-100);
  color: var(--color-neutral-700);
  cursor: pointer;
  font-size: var(--text-size-100);
  padding: 0.5rem;
  width: 100%;
}
