.app-bar {
  background-color: var(--app-theme-color-surface-0);
  color: var(--app-theme-color-on-surface-variant);
  position: fixed;
  width: 100%;
}

.app-bar__row {
  display: flex;
  height: 64px;
}

.app-bar__section {
  align-items: center;
  display: flex;
  padding: 4px;
}

@media screen and (min-width: 600px) {
  .app-bar__section {
    padding: 8px 12px;
  }
}
