.app-icon-button {
  border-radius: 100px;
  height: 48px;
  width: 48px;
}

.app-icon-button:hover {
  background: var(--app-theme-color-on-surface-variant-2);
}

.app-icon-button:hover .material-symbols-outlined {
  font-variation-settings: "wght" 600, "opsz" 24;
}
